
body{
   font-family: "Merriweather", serif !important;
  font-weight: 500 !important;
   font-style: normal;
   display:flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
    flex:1;
}
/* Nav bar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:rgb(188, 52, 252);
    font-size: 2rem;
}
.nav-link {
    color:#222222 !important;
}

/* Footer */
.f-info-links a { 
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover { 
    text-decoration: underline;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:1rem;
}

.f-info{
    text-align:center;
    height:8rem;
    background-color:#ebebeb;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* card */
.card{
    border:none ;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover;
}
.card-body{
    padding:0 !important;
}
.card-text {
    font-weight: 400;
}

.listing-link{
    text-decoration:none;
}
 /* Card effect */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white; 
}
/* create button */
.add-btn {
    background-color:rgb(188, 52, 252) !important;
    border:none !important;
}
.edit-btn {
    background-color:rgb(188, 52, 252) !important;
    border:none !important;
}
.show-img{
    height:30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/*cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}